* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  background-image: linear-gradient(#e3c4e2, #bee9e9);
}
.container {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(215, 184, 227, 0.518);
    box-shadow: 0 15px 20px rgba(147, 173, 188, 0.784);
    transition: background 0.3s ease, transform 0.3s, box-shadow 0.3s ease;
}
.container:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
h2 {
    display: flex;
    justify-content: center;
    font-family: "Caprasimo", serif;
    font-weight: 900;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    color: #fff;
}
.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.button-container{
    margin: auto;
}
.button-container button {
    display: flex;
    font-family: "Caprasimo", serif;
    font-weight: 900;
    width: 280px;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #edcae0, #bbc3ea);
    cursor: pointer;
    transition: 0.3s;
}
.button-container button:hover {
    background-image: linear-gradient(to right, #bbc3ea, #edcae0);
}